* {
  /* font-family: Montserrat, sans-serif; */
}

body {
  background-color: #10b981;
}

.my-font {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #fff;
}

.entrar {
  width: 100%;
}

.google {
  margin-top: 10px;
}

.path {
  max-width: 120px;
  max-height: 100px;
  width: 100%;
  height: auto;
}
.img-position {
  width: 71px;
  height: 71px;
  top: 0;
  left: 280px;
  object-fit: cover;
}
